<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!-- Remove or replace with fixed width -->
    <meta name="viewport" content="width=1024">

    <title>@ViewData["Title"] - sanakirja</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/sanakirja.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"
                    asp-route-sortOrder="@Context.Request.Query["sortOrder"]">sanakirja</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Sanasto"
                                asp-route-sortOrder="@(!string.IsNullOrEmpty(Context.Request.Query["sortOrder"]) ? Context.Request.Query["sortOrder"] : "finnish")">Sanasto</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Pikkusanat"
                                asp-route-sortOrder="@(!string.IsNullOrEmpty(Context.Request.Query["sortOrder"]) ? Context.Request.Query["sortOrder"] : "finnish")">Pikkusanat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Fraaseja"
                                asp-route-sortOrder="@(!string.IsNullOrEmpty(Context.Request.Query["sortOrder"]) ? Context.Request.Query["sortOrder"] : "finnish")">Fraaseja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/VerbiRektio">Verbi Rektio</a>
                        </li>

                    </ul>

                    <form method="get" asp-page="/Search" class="search-form">
                        <input type="text" name="query" class="search-input" placeholder="Hae" />
                        <button type="submit" class="search-button">⌕</button>
                    </form>

                    <div class="language-toggle">
                        <button onclick="changeSortOrder('finnish')" class="lang-btn">Suomi → Venäjä</button>
                        <button onclick="changeSortOrder('russian')" class="lang-btn">Venäjä → Suomi</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 Viktor Fursov - <a href="mailto:vfursov86@gmail.com">e-mail</a>
        </div>
    </footer>

    <script>
        function changeSortOrder(order) {
            const currentPage = window.location.pathname;
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            urlParams.set('sortOrder', order);
            window.location.href = `${currentPage}?${urlParams.toString()}`;
        }
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>